- provide(:title, 'Home')
.center.hero-unit
  %img{ :title => "notGugle", :src => "assets/logo.png", :border => "0", :alt => "logo" }
    %h2
      %form#searchbox{:action => ""}
        %input#search{:placeholder => "Type here", :type => "text"}
        %input#submit{:type => "submit", :value => "Search"}
